.nav{
    padding: 15px 15px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(171, 171, 251);
    box-shadow: 0 1px 3px -2px black;
    border-radius: 10px;

}

.name{
    font-size: 30px;
    font-weight: 700;
}
.cart{
    
    display: flex;
    position: relative;
    font-weight: bold;
    font-size: 30px;
    padding: 10px;
    background-color: #fff;
    border-radius: 14px;
}
.cart:hover{
    cursor: pointer;
}
.count{
    justify-content: center;
    position: absolute;
    top: -3px;
    right: 14px;
    font-size: 20px;
    color: black;
    background-color: #d9e9f5;
    width: 19px;
    display: flex;
    border-radius: 10pc;
}


